

.left_menu {
    top: 48px;
    height: 450px;
    overflow: scroll;
    margin-bottom: 10px;
    border-bottom: 1px solid;
}

.add_project_button {
    float: right;
    position: sticky;
    top: 500px
}

.selectedProject{
    display: block !important;
    background-color: #cff9f0 !important
}